.form {
  display: flex;
}

.input {
  height: 40px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.select {
  width: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
